*.pdf
!**/img/*.pdf
!**/imgs/*.pdf
.metadata
*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.class
*.zip
*.directory
*.backup
**/.recommenders/*
**/bin/
*.synctex.gz
*.synctex*
*.kate-swp
*.cache
.idea/workspace.xml
".idea/misc.xml" 
"pps-lab01-intellij-basic-example/pps-lab01-intellij-basic-example.iml" 
".idea/uiDesigner.xml" 
